/* <!-- Autor del codigo Maria Jose Gutierrez Estrada --> */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

/* carrusel */
header {
    margin-top: 80px;
}

h2 {
    margin-top: 20px;
}

.bg-secondary {
    background-color: #143253 !important;
}

.static-image {
    background-image: url('../images/carrusel1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 450px;
    margin-top: 90px;
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay-content h5 {
    font-size: 24px;
    margin-bottom: 10px;
}

.overlay-content p {
    font-size: 18px;
}

.overlay-content a.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #204279;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    border: none;
    outline: none;
}

.overlay-content a.btn:hover {
    background-color: #264f7a;
}


/* footer */
.copyright {
    background-color: #204279;
}

.full-width {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #204279;
    z-index: 999;
}

/* barra de navegacion */
.navbar {
    background-color: #204279 !important;
}

.navbar-nav .nav-link {
    color: white !important;
}

.navbar-brand {
    color: white;
}

.analytics {
    padding-top: 20px;
    text-align: center;
    font-size: 30px;
}

/* products index-------------------------------------------------------------------------------------------------------*/
.card {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    position: relative;
    margin: 0.5rem;
    margin-bottom: 60px;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-width: 100%;
    height: 200px;
    object-fit: cover;
}

.product-img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}


.card-body {
    text-align: left;
}

.card-link:hover {
    color: #FFC62D;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1rem;
    margin-bottom: 5px;
}

.card-subtitle {
    font-size: 1rem;
    margin-bottom: 5px;
    font-weight: bold;
}


.btn {
    text-align: center;
    margin-top: 5px;
    border: none;
}


.btn-primary {
    background-color: #FFC62D;
    color: #143253;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #FFD460;
}

/* login register */
.custom-card {
    width: 460px;
}

.my-center {
    margin-top: 100px;
}

.review {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
    border: 1px solid #ddd !important; /* Opcional: para mostrar bordes y ver la estructura */
    padding: 8px !important;
    margin-bottom: 10px !important; /* Para añadir espacio entre los comentarios */
  }
  
  .review p {
    margin: 0 !important;
    flex: 1 !important; /* Esto hace que los párrafos ocupen el espacio disponible */
  }
  
  .review form {
    flex-shrink: 0 !important; /* Esto previene que el formulario se encoja demasiado */
  }
  

/* 
.review {
    width: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-bottom: 20px;
    position: relative;
    margin-top: 10px;
    padding: 10px;
} */

/* Estilos para la vista show.blade.php */
.product-card {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-card-admin {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 450px;
    height: 450px ;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-image {
    flex: 1;
    max-width: 100%;
    border-radius: 5px;
    margin-right: 20px;
}

.product-details {
    flex: 2;
}

.product-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

.product-price {
    font-size: 18px;
    margin-top: 10px;
}

.product-quantity,
.product-location {
    font-size: 16px;
    color: #555;
    margin-top: 5px;
}

.product-description {
    font-size: 16px;
    margin-top: 15px;
}

.btn-primary {
    margin-top: 20px;
}


/* Estilos para los breadcrumbs */
.breadcrumbs {
    font-size: 14px;
    color: #143253;
    margin-bottom: 20px;
    padding-top: 20px;
}

.breadcrumbs a {
    text-decoration: none;
    color: #143253;
}

.breadcrumbs a:hover {
    font-weight: bold;
}

/* create */
.custom-card {
    width: 460px;
}

.create {
    margin-top: 5px;
}

.btn {
    text-align: center;
    margin-top: 5px;
    border: none;
}

.btn-danger {
    background-color: #ad1111;
    color: white;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #d44747;
}

.button-group {
    display: flex;
    gap: 10px;
}

.counter-box {
    display: block;
    background: #f6f6f6;
    padding: 40px 20px 37px;
    text-align: center;
    height: 230px;
    width: 250px;
}


.counter-box p {
    margin: 5px 0 0;
    padding: 0;
    color: #202020;
    font-size: 18px;
    font-weight: 500;
}

.counter-box i {
    font-size: 60px;
    margin: 0 0 15px;
    color: #d2d2d2;
}

.statistics-title {
    margin-bottom: 30px;
}

.statistics-p {
    margin-top: 10px;
}

/* orden */

.size span {
    font-size: 11px;
}

.color span {
    font-size: 11px;
}

.product-deta {
    margin-right: 70px;
}

.gift-card:focus {
    box-shadow: none;
}

.pay-button {
    color: #FFC62D;
}

.pay-button:hover {
    color: #FFD460;
}

.pay-button:focus {
    color: #fff;
    box-shadow: none;
}

.text-grey {
    color: #204279;
}

.qty i {
    font-size: 11px;
}

.modal-body {
    background-color: #fff;
    border-color: #fff;

}

.close {
    color: #000;
    cursor: pointer;
}

.close:hover {
    color: #000;
}

hr.new1 {
    border-top: 2px dashed #fff;
    margin: 0.4rem 0;
}

.cart-content {
    padding-top: 30px;
}

.cart {
    padding-top: 30px;
}

/* admin */
#sidebar {
    position: fixed;
    height: 100%;
    width: 250px;
    top: 0;
    left: 0;
    z-index: 1;
    padding-top: 20px;
    transition: 0.3s;
    background-color: #143253 !important;
}

#sidebar.active {
    margin-left: 0;
}

#main-content {
    transition: margin-left 0.3s;
    margin-left: 250px;
}


#sidebar .nav-link {
    padding: 10px 15px;
    color: #ffffff;
    transition: 0.3s;
}

#sidebar .nav-link:hover {
    background-color: #4e6680;
    color: #ffffff;
}

/* review */
.review-card {
    width: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-bottom: 20px;
    margin-right: 10px;
}

.review-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.leave-comment-section {
    background: rgba(221, 221, 221, 0.37);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-bottom: 70px;
}

.leave-comment-section h3 {
    color: #333;
    margin-bottom: 15px;
}

.leave-comment-section form {
    background: white;
    padding: 15px;
    border-radius: 8px;
}

.leave-comment-section label {
    font-weight: bold;
    color: #555;
}

.leave-comment-section input[type="text"],
.leave-comment-section textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.leave-comment-section input[type="text"]:focus,
.leave-comment-section textarea:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

/* filtros */
.filters-dropdown select {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    background-color: white;
    font-size: 1rem;
    color: #495057;
    appearance: none;
    margin-bottom: 30px;
}

.filters-dropdown select:hover {
    border-color: #80bdff;
    outline: none;
}

.filters-dropdown select:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.filters-dropdown option:checked {
    background-color: #007bff;
    color: white;
}


/* carrito de compras */
.shopping-cart .card {
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 0.375rem;
    margin-top: 30px;
    width: 350px;
    height: 300px;
}

.shopping-cart .card-body {
    padding: 1rem;
}

.shopping-cart .btn-outline-danger {
    color: #dc3545;
    border-color: #dc3545;
}

.shopping-cart .btn-outline-danger:hover {
    background-color: #dc3545;
    color: #fff;
}

.shopping-cart .total-amount {
    background-color: #f8f9fa;
    padding: 1rem;
    border-radius: 0.375rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.shopping-cart .total-amount h5 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #000;
}

.no-elements {
    margin-top: 50px;
}

.shopping-cart h2 {
    font-weight: 500;
    color: #000;
    margin-top: 30px;
}

.shopping-cart .total-amount .btn-primary {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.375rem;
}

.custom-margin {
    margin-bottom: 100px;
    background: rgba(221, 221, 221, 0.37);
    border-color: rgba(221, 221, 221, 0.37);

}

@media (max-width: 768px) {
    .shopping-cart .card-body {
        padding: 0.5rem;
    }

    .shopping-cart .total-amount {
        text-align: center;
    }

    .filters-dropdown select {
        width: 100%;
    }

    .shopping-cart .row {
        flex-direction: column-reverse;
    }

    .shopping-cart-products,
    .order-summary {
        width: 100%;
    }

    .btn-lg {
        width: 100%;
        margin-bottom: 1rem;
    }

    .orders-page .card {
        height: auto;
    }
}


.order-summary .card {
    border: 1px solid #ececec;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 370px;
}

.order-summary .card-title {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
}

.order-summary .card-title i {
    margin-right: 0.5rem;
    color: #000000;
}

.order-summary ul {
    padding-left: 0;
    list-style-type: none;
}

.order-summary li {
    margin-bottom: 0.25rem;
    font-size: 0.9rem;
}

.order-summary p {
    font-size: 1rem;
}

.order-summary .form-group {
    margin-bottom: 1rem;
}

.container-h2 {
    font-weight: 500;
    color: #000;
    margin-top: 20px;
}

/* success */

.confirmation-message i {
    font-size: 4rem;
    margin-bottom: 0.5rem;
    margin-top: 50px;
}

.confirmation-message h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.confirmation-message p {
    margin-bottom: 1.5rem;
}

.btn-lg {
    padding: 0.75rem 1.25rem;
    margin-right: 0.5rem;
}

.orders-page .card {
    height: 90%;
    margin-bottom: 1rem;
    margin-top: 20px;
}

.orders-page .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.orders-page .card-title {
    font-size: 1rem;
}

.orders-page h2 {
    font-weight: 500;
    color: #000;
    margin-top: 70px;
}

.indexproducts h2 {
    font-weight: 500;
    color: #000;
    margin-top: 25px;
}

.download-container {
    background-color: #f0f0f0;
    border-radius: 5px;
}

.download-container .btn-warning {
    margin-right: 20px;
    text-align: center;
    border: none;
    margin-top: -2px;
    background-color: #FFC62D;
    color: #143253;
    font-weight: bold;
}

.download-container .btn-warning:hover {
    background-color: #FFD460;

}

.download-container .texto-h5 {
    margin-right: 20px;
}

/* users */
.user-card {
    box-shadow: 0 0.46875rem 2.1875rem rgb(4 9 20 / 3%), 0 0.9375rem 1.40625rem rgb(4 9 20 / 3%), 0 0.25rem 0.53125rem rgb(4 9 20 / 5%), 0 0.125rem 0.1875rem rgb(4 9 20 / 3%);
    border-radius: 0.375rem;
    width: 350px;
    height: 200px;
}

.user-card .card-header {
    background-color: #f8f9fa;
    border-bottom: none;
}

.user-card .badge {
    font-size: 0.8em;
}

/* Estilos específicos para el perfil de usuario */
.user-profile-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.user-profile-card {
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 500px;
}

.user-profile-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.user-profile-info {
    margin-top: 10px;
}

.user-profile-item {
    align-items: center;
    margin-bottom: 15px;
}

.user-profile-icon {
    font-size: 20px;
    margin-right: 10px;
}

.user-profile-value {
    font-size: 17px;
    color: #555;
    margin-left: 20px;
}

.user-profile-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #eaeaea;
    padding: 15px 20px;
}

.user-profile-title {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
    text-align: center;
}

.user-profile-body {
    padding: 50px;
    width: 400px;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.product-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.text-center {
    margin-top: 50px;
}

.product-details {
    display: flex;
    flex-direction: column;
}

.product-title {
    font-size: 1.25rem;
    margin-bottom: .5rem;
}

.product-description {
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
    line-height: 1.5;
    max-height: 3em;
    flex-grow: 1;
}


.product-meta {
    list-style: none;
    padding: 0;
    margin-bottom: 1rem;
}

.product-meta li {
    margin-top: 20px;
    font-size: 15px;
    margin-bottom: .25rem;
}

.product-card .btn-primary {
    align-self: center;
    margin-top: auto;
    margin-bottom: 50px;
}

/* About Us */
.about-us-section {
    padding: 50px 0;
    background-color: #f8f8f8;
    margin-bottom: 100px;
}

.review-text {
    margin-top: 50px;
}

.about-us-section h2 {
    color: #333;
    margin-bottom: 20px;
}

.about-us-section p {
    color: #666;
    font-size: 17px;
    max-width: 800px;
    margin: auto;
    line-height: 1.6;
}